// Overrides https://github.com/TryGhost/Ghost/blob/main/core/frontend/src/cards/css/button.css

@use '../../settings/colors';
@use '../../tools/button';

// stylelint-disable selector-max-specificity, selector-no-qualifying-type

.article .kg-button-card a.kg-btn {
    @include button.create();

    height: auto;

    &:hover {
        opacity: 1;
    }

    @media print {
        display: none;
    }
}

.article .kg-button-card a.kg-btn-accent {
    color: colors.$white;
    background-color: var(--button-background);
}
