// Overrides https://github.com/TryGhost/Ghost/blob/main/core/frontend/src/cards/css/callout.css

@use '../../settings/borders';
@use '../../settings/container';
@use '../../tools/breakpoint';
@use '../../tools/content-block';
@use '../../tools/spacing';
@use '../../tools/typography';

.article .kg-callout-card {
    @include content-block.wide();

    padding: spacing.of(0.75) container.$padding;
    border-radius: 0;

    @include breakpoint.up(sm) {
        margin-inline: 0;
        border-radius: borders.$radius;
    }
}

// stylelint-disable-next-line selector-no-qualifying-type
.article .kg-callout-card div.kg-callout-text {
    @include typography.style(callout);
}
