@use "sass:map";
@use "../settings/borders";
@use "../settings/typography";
@use "../tools/spacing";

$font-weight: map.get(typography.$font-weight-values, bold);
$border-width: borders.$width;
$border-radius: borders.$radius;

$line-height: spacing.of(1);
$padding-block: spacing.of(0.5);
$padding-inline: 1.5em;
$height: calc(#{2 * $border-width} + #{$line-height} + 2 * #{$padding-block});
$column-gap: 1em;

$line-height-small: 1.25em;
$padding-block-small: 0.5em;
$padding-inline-small: 1em;
$height-small: calc(#{2 * $border-width} + #{$line-height-small} + 2 * #{$padding-block-small});
$column-gap-small: 0.5em;
