$_gray-base: #272822;

$colors-grays: (
    gray-darkest: desaturate($_gray-base, 10%),
    gray-darker: desaturate(lighten($_gray-base, 7%), 7.5%),
    gray-dark: desaturate(lighten($_gray-base, 40%), 5%),
    gray: lighten($_gray-base, 60%),
    gray-light: lighten($_gray-base, 70%),
    gray-lighter: lighten($_gray-base, 80%),
);

$color-black: #000;
$color-white: #fff;

$colors-brand: (
    blue: #008eaa,
    green: #40bf4f,
    green-dark: #38a645,
    green-darker: #308d3b,
    green-darkest: #2b8035,
    yellow: #f6db53,
);

$color-primary: map-get($colors-brand, green);

$color-brand-vd: #174622;
