@use "sass:color";
@use "sass:map";

$_gray-base: #272822;

$grays: (
    gray-darkest: color.adjust($_gray-base, $saturation: -10%),
    gray-darker: color.adjust($_gray-base, $lightness: 7%, $saturation: -7.5%),
    gray-dark: color.adjust($_gray-base, $lightness: 40%, $saturation: -5%),
    gray: color.adjust($_gray-base, $lightness: 60%),
    gray-light: color.adjust($_gray-base, $lightness: 70%),
    gray-lighter: color.adjust($_gray-base, $lightness: 75%),
    gray-lightest: color.adjust($_gray-base, $lightness: 80%),
);

$black: #000;
$white: #fff;

$brand: (
    green-lighter: #f7aab9,
    green-light: #f27a93,
    green: #e63f66,
    green-dark: #b21e4b,
    green-darker: #951c45,
    green-darkest: #801b40,
);

$primary: map.get($brand, green);

$ui: (
    info: #d42a5b,
    info-light: #e63f66,
    success: map.get($brand, green-dark),
    success-dark: map.get($brand, green-darkest),
    error: #b70000,
    error-dark: #b60000,
    warning: #f6db53,
);

$tags: (
    bootstrap-purple-800: #2c1a4d,
    bootstrap-purple-900: #160d27,
);
