$_gray-base: #272822;

$colors-grays: (
    gray-darkest: $_gray-base,
    gray-darker: lighten($_gray-base, 7%),
    gray-dark: lighten($_gray-base, 40%),
    gray: lighten($_gray-base, 60%),
    gray-light: lighten($_gray-base, 70%),
    gray-lighter: lighten($_gray-base, 80%),
);

$color-black: #000;
$color-white: #fff;

$colors-brand: (
    blue: #71bbe9,
    blue-dark: #629bc3,
    green: #88a827,
    green-dark: #738d2a,
);

$color-primary: #008eaa;
