// Settings for `modularscale-sass` package.
// https://github.com/modularscale/modularscale-sass

@use '../../../node_modules/modularscale-sass/stylesheets/modularscale/vars';

$settings: (
    base: 1em,
    ratio: vars.$major-second,
);
