@use '../settings/modularscale' as modularscale-settings;
@use '../../../node_modules/modularscale-sass/stylesheets/modularscale' with (
    $modularscale: modularscale-settings.$settings,
);
@use '../tools/spacing';
@use 'typography';

$styles: (
    headline1: (
        default: (
            font-weight: map-get(typography.$font-weight-values, extrabold),
            // Faster growing font size:
            font-size: calc(1.65em + 1.25vw),
            line-height: 1.1,
            font-family: typography.$font-family-sans-serif,
        ),
    ),
    headline2: (
        default: (
            font-weight: map-get(typography.$font-weight-values, extrabold),
            // Faster growing font size:
            font-size: calc(1.5rem + 0.333vw),
            line-height: spacing.of(1),
            font-family: typography.$font-family-sans-serif,
        ),
    ),
    headline3: (
        default: (
            font-weight: map-get(typography.$font-weight-values, extrabold),
            font-size: modularscale.ms(3),
            line-height: spacing.of(1),
            font-family: typography.$font-family-sans-serif,
        ),
    ),
    headline4: (
        default: (
            font-weight: map-get(typography.$font-weight-values, bold),
            font-size: modularscale.ms(0),
            line-height: spacing.of(1),
            font-family: typography.$font-family-sans-serif,
        ),
    ),
    summary: (
        default: (
            font-weight: map-get(typography.$font-weight-values, regular),
            font-style: italic,
            font-size: modularscale.ms(1),
            line-height: spacing.of(1),
            font-family: typography.$font-family-serif,
        ),
    ),
    body: (
        default: (
            font-weight: map-get(typography.$font-weight-values, regular),
            font-size: typography.$font-size-base,
            line-height: spacing.of(1),
            font-family: typography.$font-family-serif,
        ),
    ),
    blockquote: (
        default: (
            font-family: typography.$font-family-serif,
            font-size: modularscale.ms(1),
            font-style: italic,
        ),
    ),
    small: (
        default: (
            font-size: modularscale.ms(-2),
        ),
    ),
    small-block: (
        default: (
            font-size: modularscale.ms(-2),
            line-height: map-get(typography.$line-height-values, base),
        ),
    ),
    small-caps: (
        default: (
            font-family: typography.$font-family-sans-serif,
            font-variant: small-caps,
            font-feature-settings: #{'"smcp" 1', '"c2sc" 1'},
            letter-spacing: 0.05em,
            text-transform: lowercase,
        ),
    ),
    code: (
        default: (
            font-family: typography.$font-family-monospace,
            // Only optical adjustment, no modular scale involved:
            font-size: typography.$code-font-size,
        ),
    ),
    button: (
        default: (
            font-weight: map-get(typography.$font-weight-values, bold),
            font-size: modularscale.ms(0),
            line-height: spacing.of(1),
            font-family: typography.$font-family-sans-serif,
        ),
    ),
    form-field: (
        default: (
            font-size: modularscale.ms(0),
            line-height: spacing.of(1),
            font-family: typography.$font-family-sans-serif,
        ),
    ),
    alert: (
        default: (
            font-size: modularscale.ms(-1),
            line-height: map-get(typography.$line-height-values, medium),
        ),
    ),
    header-title: (
        default: (
            font-weight: map-get(typography.$font-weight-values, bold),
            font-size: modularscale.ms(2),
            line-height: spacing.of(1),
            font-family: typography.$font-family-sans-serif,
            white-space: nowrap,
        ),
    ),
    footer-title: (
        default: (
            font-weight: map-get(typography.$font-weight-values, bold),
            font-family: typography.$font-family-sans-serif,
        ),
    ),
    tip-label: (
        default: (
            font-size: modularscale.ms(-3),
            line-height: map-get(typography.$line-height-values, medium),
            font-family: typography.$font-family-sans-serif,
        ),
    ),
);
