$typography-font-family-serif: Georgia, Times, serif;
$typography-font-family-sans-serif: 'Clone Rounded Latin', Helvetica, Arial, serif;
$typography-font-family-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$typography-font-size-root: 18px;
$typography-font-size-fluid-factor: 0.2vw;
$typography-font-size-base: calc(#{$typography-font-size-root} + #{$typography-font-size-fluid-factor});
$typography-line-height-base: 1.5;
$typography-line-height-fluid-factor: 0.2vw;

$typography-font-weight-values: (
    regular: 400,
    bold: 700,
    black: 900,
);

$typography-list-padding-left: 2em;

$typography-styles: (
    headline1: (
        default: (
            font-weight: map-get($typography-font-weight-values, black),
            font-size: ms(7),
            line-height: spacing(2),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    headline2: (
        default: (
            font-weight: map-get($typography-font-weight-values, black),
            font-size: ms(5),
            line-height: spacing(2),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    headline3: (
        default: (
            font-weight: map-get($typography-font-weight-values, black),
            font-size: ms(3),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    headline4: (
        default: (
            font-weight: map-get($typography-font-weight-values, bold),
            font-size: ms(0),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    body: (
        default: (
            font-weight: map-get($typography-font-weight-values, regular),
            font-size: $typography-font-size-base,
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
        ),
    ),
    small-caps: (
        default: (
            font-family: $typography-font-family-sans-serif,
            font-variant: small-caps,
            font-feature-settings: #{'"smcp" 1', '"c2sc" 1'},
            letter-spacing: 0.05em,
            text-transform: lowercase,
        ),
    ),
    code: (
        default: (
            font-family: $typography-font-family-monospace,
            // Only optical adjustment, no modular scale involved:
            font-size: 0.85em,
        ),
    ),
);
