<section class="section background-dark color-inverse print-hidden" data-populate="bottom-ad">
    <div class="container container--narrow">

        <h2 id="bottom-ad__title"></h2>
        <div class="media spacing-bottom">
            <div>
                <div class="avatar">
                    <img
                        src="/content/images/size/w300/2020/10/profil_2016_1000x1000.jpg"
                        loading="lazy"
                        class="avatar__image"
                        alt="Adam Kudrna"
                    />
                </div>
            </div>
            <p id="bottom-ad__text"></p>
        </div>
        <div class="text-center">
            <a
                id="bottom-ad__cta"
                class="button button--primary"
                data-track="navigate"
                data-track-category="Personal website"
                data-track-label="Bottom ad"
            ></a>
        </div>

    </div>
</section>
