<footer class="site__footer footer">
    <div class="container">

        {{#if showLinks}}
            <nav class="navigation navigation--secondary">
                {{navigation type="secondary"}}
            </nav>
        {{/if}}

        <p class="footer__section">
            <a href="/" class="footer__title link-unstyled">Frontend Garden</a>
            vysázel, zastřihuje a&nbsp;okopává (s&nbsp;♥️) Adam&nbsp;Kudrna.
            Založeno 2019.
        </p>

    </div>
</footer>
