<footer class="site__footer footer">
    <div class="container">

        {{#if showLinks}}
            <nav class="navigation navigation--secondary">
                {{navigation type="secondary"}}
            </nav>
        {{/if}}

        <nav class="navigation navigation--secondary">
            {{> "social-links" placement="footer"}}
        </nav>

        <p class="footer__section">
            Obsah na tomto webu je publikován pod licencí
            <a
                href="https://creativecommons.org/licenses/by-nc/4.0/"
                target="_blank"
                rel="noopener noreferrer"
            >Creative Commons CC BY-NC 4.0</a>.
            <br />
            <a href="/" class="footer__title link-unstyled">{{@site.title}}</a>
            vysázel, zastřihuje a&nbsp;okopává (s&nbsp;♥️) Adam&nbsp;Kudrna.
            <br />
            Založeno v&nbsp;květnu 2019.
        </p>

    </div>
</footer>
