<header
    class="
        site__header
        header
        {{^if @site.navigation}}header--without-navigation{{/if}}
    "
>
    <div class="container container--fluid">
        <div class="header__layout">

            <a href="/" class="header__logotype">
                <span class="header__logo">
                    {{> "icons/frontend-garden-icon"}}
                </span>
                <span class="header__title">
                    {{@site.title}}
                </span>
            </a>

            {{#if showLinks}}
                <div class="header__navigation">
                    {{> "site-nav"}}
                </div>
            {{/if}}
        </div>
    </div>
</header>
