<header class="site__header header">
    <div class="container container--fluid">
        <div class="header__layout">

            <a href="{{@site.url}}" class="header__logotype">
                <span class="header__logo">
                    {{> "icons/ramonguilherme-icon"}}
                </span>
                <span class="header__title">
                    {{@site.title}}
                </span>
            </a>

            {{#if @site.navigation}}
                {{#unless hideInternalLinks}}
                    <div class="header__navigation">
                        {{navigation}}
                    </div>
                {{/unless}}
            {{/if}}

            <div class="header__social-links">
                {{> "social-links"}}
            </div>

        </div>
    </div>
</header>
