<aside class="section background-alternate print-hidden">
    <div class="container">

        <h2>
            {{headline}}
            {{^headline}}Nejnovější články{{/headline}}
        </h2>

    </div>
    <div class="container container--dense">

        <div class="post-row">
            {{#foreach posts visibility="public"}}
                <div class="post-row__item">
                    {{> "post-card" headingLevel=3}}
                </div>
            {{/foreach}}
        </div>

    </div>
</aside>
