<aside class="section section--dense background-alternate">
    <div class="container">

        <h2>
            {{headline}}
            {{^headline}}Poslední články{{/headline}}
        </h2>

        <div class="post-row">
            {{#foreach posts visibility="public"}}
                <div class="post-row__item">
                    {{> "post-card"}}
                </div>
            {{/foreach}}
        </div>

    </div>
</aside>
