<nav class="navigation">

    {{#if @site.navigation}}
        {{navigation}}
    {{/if}}

    <ul class="navigation__list">
        {{#if @site.twitter}}
            <li class="navigation__item">
                <a
                    href="{{twitter_url @site.twitter}}"
                    class="navigation__icon-link"
                    target="_blank"
                    rel="noopener"
                    title="Twitter"
                >
                    <span class="icon">
                        {{> "icons/twitter"}}
                    </span>
                </a>
            </li>
        {{/if}}
        {{#if @site.facebook}}
            <li class="navigation__item">
                <a
                    href="{{facebook_url @site.facebook}}"
                    class="navigation__icon-link"
                    target="_blank"
                    rel="noopener"
                    title="Facebook"
                >
                    <span class="icon">
                        {{> "icons/facebook"}}
                    </span>
                </a>
            </li>
        {{/if}}
    </ul>

    {{#if @labs.subscribers}}
        <ul class="navigation__list">
            <li class="navigation__item">
                <a href="#subscribe" class="navigation__link">
                    Subscribe
                </a>
            </li>
        </ul>
    {{/if}}

</nav>
