<div class="vd-banner">
    <div class="vd-banner__layout">
        <div class="vd-banner__layout__text">

            <h3>Kurzy pro veřejnost</h3>
            <p class="spacing-0">
                Navštivte některý z&nbsp;veřejných termínů Adamových kurzů
                <a href="https://www.vzhurudolu.cz/kurzy/css-kod" target="_blank" rel="noopener" class="color-white">Organizace CSS kódu</a>
                nebo
                <a href="https://www.vzhurudolu.cz/kurzy/dokumentace-systemy" target="_blank" rel="noopener" class="color-white">Od dokumentace k&nbsp;systémům designu</a>
                u&nbsp;Vzhůru&nbsp;Dolů.
            </p>

        </div>
        <div class="vd-banner__layout__logo">

            <svg width="28" height="25" viewBox="0 0 28 25" class="vd-banner__logo">
                <title>Logo Vzhůru dolů: Mlátek a želízko</title>
                <path
                    d="
                        M27.975,11.038c0,0-0.755-3.782-1.198-4.24l-1.689-1.744l0.249-0.256l0.025-0.027
                        c0.231-0.243,0.231-0.632,0-0.872l-0.633-0.654l-0.634-0.654c-0.257-0.241-0.534-0.323-0.845,0l-0.278,0.285l-2.421-2.501
                        c-0.16-0.164-0.418-0.164-0.576,0L17.109,3.33c-0.073,0.08-0.114,0.187-0.114,0.297c0,0.11,0.041,0.216,0.114,0.294l2.427,2.5
                        l-5.584,5.758L8.27,6.322c0.977-0.931,2.004-1.81,3.073-2.629c0.164-0.125,0.2-0.357,0.081-0.527
                        C10.71,2.151,9.994,1.138,9.28,0.123C9.214,0.039,9.121-0.013,9.019-0.022C8.917-0.032,8.813,0,8.736,0.067
                        C7.491,1.02,6.301,2.041,5.169,3.125L4.881,2.829L4.684,2.692c-0.228-0.004-0.111,0-0.352-0.016
                        C4.205,2.692,4.139,2.752,4.037,2.829L3.403,3.481L2.769,4.135c-0.234,0.241-0.234,0.631,0,0.871l0.289,0.298
                        C2.004,6.473,1.011,7.701,0.088,8.986C0.022,9.067-0.01,9.174,0.002,9.278c0.009,0.106,0.059,0.203,0.14,0.27
                        c0.984,0.738,1.967,1.475,2.95,2.212c0.165,0.12,0.393,0.083,0.512-0.085C4.4,10.568,5.254,9.51,6.156,8.5l5.682,5.856l-7.607,7.847
                        c-0.467,0.481-0.467,1.262,0,1.743l0.212,0.217l0.21,0.22c0.466,0.481,1.223,0.481,1.69,0l7.607-7.846l7.836,8.08
                        c0.465,0.479,1.223,0.479,1.69,0l0.212-0.219l0.212-0.217c0.466-0.48,0.466-1.263,0-1.743l-7.836-8.082L21.65,8.6l1.689,1.744
                        c0.366,0.379,4.122,1.225,4.122,1.225c0.153,0.05,0.322,0.028,0.456-0.059C28,11.367,28.023,11.195,27.975,11.038
                    "
                    fill="currentColor"
                >
                </path>
            </svg>

        </div>
    </div>
</div>
