<section class="section section--dense-top">
    <div class="container container--article">

        <h2>Hodnocení účastníků</h2>
        <div class="editor js-nbsp">
            <blockquote>
                Na školení mě nejvíce mrzelo to, že jsem na něm nebyl.
                <br />
                <small>— <strong>Pavel Pejchal</strong>, RACOM</small>
            </blockquote>
        </div>

    </div>
</section>
