<section class="section section--dense">
    <div class="container">

        <ul class="logo-grid">
            <li class="logo-grid__item logo-grid__item--square">
                {{> "logos/lmc.svg"}}
            </li>
        </ul>

    </div>
</section>
