.author-card {
    display: flex;
}

.author-card__media {
    margin-right: $grid-gap;
}

.author-card__content {
    line-height: 1.4;
}

.author-card__name,
.author-card__link {
    @include typography(small-caps);
}

.author-card__name {
    @include typography(headline4);

    margin-bottom: 0;
}

.author-card__link {
    white-space: nowrap;
}

.author-card__bio {
    margin-bottom: 0;
    font-size: ms(-1);
}

.author-card__bio__text {
    margin-right: 0.25em;
    font-style: italic;
}
