// 1. Posts are listed in vertical grid on small screens.
// 2. On medium sized screens, the posts are stacked horizontally, overlapping each other.
// 3. On big screens, there is no need to save space so the stacking is destroyed and the posts are
//    listed in grid.

.post-row {
    display: grid; // 1.
    grid-template-columns: 100%;
    grid-gap: $grid-gap;
}

.post-row__item {
    min-width: 0;
}

@include breakpoint-up(md) {
    .post-row {
        display: flex; // 2.
    }

    .post-row__item {
        @include transition(transform);

        position: relative;
        width: 35vw;
        border-radius: $border-radius;
        box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.25);
        will-change: transform;
        transform: translate(0, 0);

        &:not(:first-child) {
            margin-left: -3em;
        }

        &:hover {
            transform: translateY(-1em);
        }
    }

    .post-row__item:hover ~ .post-row__item {
        transform: translateX(2em);
    }

    @media (prefers-reduced-motion: reduce) {
        .post-row__item:hover,
        .post-row__item:hover ~ .post-row__item {
            will-change: none;
            transform: translate(0, 0);
        }
    }
}

@include breakpoint-up(xl) {
    .post-row {
        display: grid; // 3.
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        grid-gap: $grid-gap;
    }

    .post-row__item {
        width: auto;
        box-shadow: none;

        &:not(:first-child) {
            margin-left: 0;
        }
    }

    @media (hover: hover) {
        .post-row__item,
        .post-row__item:hover,
        .post-row__item:hover ~ .post-row__item {
            position: static;
            transform: none;
        }
    }
}

@include ie-only() {
    .post-row {
        display: flex;
    }

    .post-row__item {
        flex: 1 1 30%;
        margin-right: $grid-gap;
    }
}
