$typography-font-family-serif: Georgia, Times, serif;
$typography-font-family-sans-serif: 'clone-rounded-latin', Helvetica, Arial, serif;
$typography-font-family-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$typography-font-size-root: 18px;
$typography-font-size-fluid-factor: 0.2vw;
$typography-font-size-base: calc(#{$typography-font-size-root} + #{$typography-font-size-fluid-factor});
$typography-line-height-base: 1.68;
$typography-line-height-fluid-factor: 0.2vw;

$typography-font-weight-values: (
    regular: 400,
    bold: 700,
    extrabold: 800,
);

$typography-list-padding-left: 2em;

$typography-code-font-size: 0.85em;

$typography-styles: (
    headline1: (
        default: (
            font-weight: map-get($typography-font-weight-values, extrabold),
            // Faster growing font size:
            font-size: calc(1.65em + 1.25vw),
            line-height: 1.1,
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    headline2: (
        default: (
            font-weight: map-get($typography-font-weight-values, extrabold),
            // Faster growing font size:
            font-size: calc(1.5rem + 0.333vw),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    headline3: (
        default: (
            font-weight: map-get($typography-font-weight-values, extrabold),
            font-size: ms(3),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    headline4: (
        default: (
            font-weight: map-get($typography-font-weight-values, bold),
            font-size: ms(0),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    summary: (
        default: (
            font-weight: map-get($typography-font-weight-values, regular),
            font-style: italic,
            font-size: ms(1),
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
        ),
    ),
    body: (
        default: (
            font-weight: map-get($typography-font-weight-values, regular),
            font-size: $typography-font-size-base,
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
        ),
    ),
    blockquote: (
        default: (
            font-family: $typography-font-family-serif,
            font-size: ms(1),
            font-style: italic,
        ),
    ),
    small: (
        default: (
            font-size: ms(-2),
        ),
    ),
    small-block: (
        default: (
            font-size: ms(-2),
            line-height: 1.8,
        ),
    ),
    small-caps: (
        default: (
            font-family: $typography-font-family-sans-serif,
            font-variant: small-caps,
            font-feature-settings: #{'"smcp" 1', '"c2sc" 1'},
            letter-spacing: 0.05em,
            text-transform: lowercase,
        ),
    ),
    code: (
        default: (
            font-family: $typography-font-family-monospace,
            // Only optical adjustment, no modular scale involved:
            font-size: $typography-code-font-size,
        ),
    ),
    button: (
        default: (
            font-weight: map-get($typography-font-weight-values, bold),
            font-size: ms(0),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    form-field: (
        default: (
            font-size: ms(0),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    alert: (
        default: (
            font-size: ms(-1),
            line-height: 1.6,
        ),
    ),
    header-title: (
        default: (
            font-weight: map-get($typography-font-weight-values, bold),
            font-size: ms(2),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
            white-space: nowrap,
        ),
    ),
    footer-title: (
        default: (
            font-weight: map-get($typography-font-weight-values, bold),
            font-family: $typography-font-family-sans-serif,
        ),
    ),
    tip-label: (
        default: (
            font-size: ms(-3),
            line-height: 1.6,
            font-family: $typography-font-family-sans-serif,
        ),
    ),
);
