@use "sass:map";
@use "../../../../node_modules/modularscale-sass/stylesheets/modularscale";
@use "../../settings/borders";
@use "../../settings/colors";
@use "../../tools/typography";

.label {
    @include typography.style(small-caps);

    padding: 0 0.5em 0.2em;
    white-space: nowrap;
    vertical-align: baseline;
    color: map.get(colors.$grays, gray-darker);
    border-radius: borders.$radius;
    background-color: map.get(colors.$grays, gray-light);
    user-select: none;

    &:link,
    &:visited {
        border-bottom: 0;
    }

    &:link:hover,
    &:link:focus,
    &:visited:hover,
    &:visited:focus {
        color: colors.$white;
        background-color: var(--link-color);
    }
}

.label--small {
    font-size: modularscale.ms(-3);
    line-height: typography.line-height(medium);
}

.label--new {
    background-color: map.get(colors.$ui, warning);
}
