@use '../../settings/colors';

.background-alternate {
    background-color: var(--alternate-background-color);
}

.background-dark {
    background-color: var(--dark-background-color);
}

.background-primary {
    background-color: var(--primary-background-color);
}
