// 1. Account with whitespace.

@use '../../settings/grid';
@use '../../tools/typography';

.list-unstyled {
    @include typography.list-unstyled();
}

.list-inline {
    display: flex;
    flex-wrap: wrap;
    column-gap: grid.$gap-small;
    row-gap: 0.25em;
}

.list-item-decorated::before {
    content: '·';
    margin-right: grid.$gap-small - 0.2em; // 1.
}
