@use "../../tools/spacing";

.spacing-right-1 {
    margin-right: 0.5em;
}

.spacing-right-2 {
    margin-right: 1em;
}

.spacing-bottom-none {
    margin-bottom: 0;
}

.spacing-bottom {
    margin-bottom: spacing.of(1);
}

.spacing-bottom-small {
    margin-bottom: spacing.of(0.5);
}

.spacing-bottom-large {
    margin-bottom: spacing.of(2);
}
