{
  "extends": [
    "@visionappscz/stylelint-config",
    "@visionappscz/stylelint-config/order",
    "@visionappscz/stylelint-config/scss"
  ],
  "rules": {
    "selector-class-pattern": [
      "^[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
      {
        "message": "Expected class name to follow BEM syntax (selector-class-pattern)"
      }
    ]
  }
}
