{{!< default}}

<main class="site__content article">
    <div class="section background-alternate print-padding-none">
        <div class="container">

            {{#tag}}
                <h1 class="article__title js-nbsp">{{name}}</h1>

                {{#if description}}
                    <p class="article__summary spacing-bottom-small js-nbsp">
                        {{description}}
                    </p>
                {{/if}}
            {{/tag}}

            <ul class="list-unstyled list-inline spacing-bottom-none print-hidden">
                <li>
                    <a href="#jazyky" class="label">Linguagens</a>
                </li>
                <li>
                    <a href="#frameworky" class="label">Frameworks</a>
                </li>
                <li>
                    <a href="#nastroje" class="label">Ferramentas</a>
                </li>
                <li>
                    <a href="#testovani" class="label">Testes</a>
                </li>
                <li>
                    <a href="#no-code" class="label">No-code</a>
                </li>
                <li>
                    <a href="#graficky-design" class="label">Design Gráfico</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="section section--roomy-bottom print-padding-none">
        <div class="container">
            <div class="columns columns--4">

                {{!
                    Percorra os `posts` originais e agrupe-os.
                    A paginação de `posts` é impossível em `routes.yaml`.
                }}
                {{>glossary-group slug="jazyky" name="Linguagens"}}
                {{>glossary-group slug="frameworky" name="Frameworks"}}
                {{>glossary-group slug="nastroje" name="Ferramentas"}}
                {{>glossary-group slug="testovani" name="Testes"}}
                {{>glossary-group slug="no-code" name="No-code"}}
                {{>glossary-group slug="graficky-design" name="Design Gráfico"}}

            </div>
        </div>
    </div>

    {{#get "posts"
        filter="primary_tag:clanky"
        include="authors,tags"
        order="published_at DESC"
        limit="3"
        as |recent|
    }}
        {{#if recent}}
            {{> "related-posts" posts=recent}}
        {{/if}}
    {{/get}}

</main>

{{> "footer"}}
