{{!< default}}

<main class="site__content background-alternate">
    <section class="section section--dense-top">
        <div class="container container--dense">

            <div class="post-feed post-feed--articles">
                {{#foreach posts visibility="public"}}
                    <div
                        class="
                            post-feed__item
                            {{#if featured}}post-feed__item--featured{{/if}}
                            {{#has tag="#large-preview"}}post-feed__item--large{{/has}}
                        "
                    >
                        {{> "post-card"}}
                    </div>
                {{else}}
                    <div class="alert alert--info">
                        Ainda não há posts aqui. 😕
                    </div>
                {{/foreach}}
            </div>

        </div>
    </section>
</main>

{{> "footer"}}
