{{!< default}}

<main class="site__content background-alternate">
    <section class="section">
        <div class="container">

            <div class="post-feed">
                {{#foreach posts}}
                    <div class="post-feed__item">
                        {{> "post-card"}}
                    </div>
                {{/foreach}}
            </div>

        </div>
    </section>
</main>
