{{!< default}}

{{#post}}
    <main class="site__content">
        <article class="article">

            <header class="section section--dense background-alternate">
                <div class="container container--article">

                    <h1 class="article__title js-nbsp">{{title}}</h1>
                    <h2 class="article__summary js-nbsp">{{excerpt}}</h2>

                </div>
            </header>

            <section class="section section--dense">
                <div class="container container--article">

                    <div class="editor js-nbsp js-external-links">
                        {{content}}
                    </div>

                </div>
            </section>

        </article>

        {{#get "posts"
            include="authors,tags"
            filter="primary_tag:clanek"
            limit="3"
            as |recent|
        }}
            {{#if recent}}
                <aside class="section section--dense background-alternate">
                    <div class="container">

                        <h2>Poslední články</h2>
                        <div class="post-feed">
                            {{#foreach recent}}
                                <div class="post-feed__item">
                                    {{> "post-card"}}
                                </div>
                            {{/foreach}}
                        </div>

                    </div>
                </aside>
            {{/if}}
        {{/get}}

    </main>
{{/post}}
