@use '../../settings/grid';
@use '../../tools/typography';

.list-unstyled {
    @include typography.list-unstyled();
}

.list-inline {
    display: flex;
    flex-wrap: wrap;
    column-gap: grid.$gap-small;
}
