// 1. Intentionally using pixels to get similar results across most browsers.
// 2. Black prints faster.

@media print {
    html,
    body {
        font-size: 14pt;
    }

    body {
        min-width: 800px; // 1.
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    img,
    table {
        page-break-inside: avoid;
    }

    // stylelint-disable selector-max-universal, declaration-no-important
    *,
    *::before,
    *::after {
        color: black !important; // 2.
        background: transparent !important;
    }
    // stylelint-enable
}
