@use "sass:map";
@use "../../settings/colors";

:root {
    --ui-info-background-color: #{map.get(colors.$ui, info)};
    --ui-success-background-color: #{map.get(colors.$ui, success)};
    --ui-error-background-color: #{map.get(colors.$ui, error)};
    --page-background-color: #{colors.$white};
    --page-text-color: #{map.get(colors.$grays, gray-darker)};
    --link-color: #{map.get(colors.$ui, info)};
    --button-primary-background: #{map.get(colors.$brand, green-dark)};
    --button-primary-hover-background: #{map.get(colors.$brand, green)};
    --button-primary-active-background: #{map.get(colors.$brand, green-darker)};
    --button-secondary-text-color: currentcolor;
    --button-secondary-border-color: currentcolor;
    --button-secondary-background: transparent;
    --button-secondary-hover-text-color: #{colors.$white};
    --button-secondary-hover-border-color: #{map.get(colors.$grays, gray-darker)};
    --button-secondary-hover-background: #{map.get(colors.$grays, gray-darker)};
    --button-secondary-active-text-color: #{colors.$white};
    --button-secondary-active-border-color: #{map.get(colors.$grays, gray-darkest)};
    --button-secondary-active-background: #{map.get(colors.$grays, gray-darkest)};
    --input-border-color: currentcolor;
    --input-background-color: #{colors.$white};
    --cover-text-color: #{colors.$white};
    --post-card-background-color: #{colors.$white};
    --post-card-text-color: inherit;
    --primary-background-color: #{map.get(colors.$brand, green-darker)};
    --alternate-background-color: #{map.get(colors.$grays, gray-lightest)};
    --dark-background-color: #{map.get(colors.$grays, gray-darker)};
    --footer-text-color: inherit;
    --text-muted-color: #{map.get(colors.$grays, gray-dark)};
    --ruler-color: #{map.get(colors.$grays, gray-lightest)};
}

@media (prefers-color-scheme: dark) {
    :root {
        --ui-success-background-color: #{map.get(colors.$ui, success-dark)};
        --ui-error-background-color: #{map.get(colors.$ui, error-dark)};
        --page-background-color: #{map.get(colors.$grays, gray-darker)};
        --page-text-color: #{map.get(colors.$grays, gray-light)};
        --link-color: #{map.get(colors.$ui, info-light)};
        --button-primary-background: #{map.get(colors.$brand, green-darkest)};
        --button-primary-hover-background: #{map.get(colors.$brand, green-darker)};
        --button-primary-active-background: #{map.get(colors.$brand, green-darkest)};
        --button-secondary-hover-text-color: #{map.get(colors.$grays, gray-darker)};
        --button-secondary-hover-border-color: #{map.get(colors.$grays, gray-light)};
        --button-secondary-hover-background: #{map.get(colors.$grays, gray-light)};
        --button-secondary-active-text-color: #{map.get(colors.$grays, gray-darkest)};
        --button-secondary-active-border-color: #{map.get(colors.$grays, gray)};
        --button-secondary-active-background: #{map.get(colors.$grays, gray)};
        --input-border-color: #{map.get(colors.$grays, gray-dark)};
        --input-background-color: #{map.get(colors.$grays, gray-darker)};
        --cover-text-color: #{map.get(colors.$grays, gray-light)};
        --post-card-background-color: #{map.get(colors.$grays, gray-darker)};
        --post-card-text-color: inherit;
        --primary-background-color: #{map.get(colors.$brand, green-darkest)};
        --alternate-background-color: #{map.get(colors.$grays, gray-darkest)};
        --dark-background-color: #{map.get(colors.$grays, gray-darkest)};
        --footer-text-color: #{map.get(colors.$grays, gray)};
        --text-muted-color: #{map.get(colors.$grays, gray-dark)};
        --ruler-color: #{map.get(colors.$grays, gray-dark)};
    }
}
