<script defer src="https://cdn.ramonguilherme.com.br/cookie-consent/init.js"></script>
<link rel="stylesheet" href="https://cdn.ramonguilherme.com.br/cookie-consent/LmcCookieConsentManager.min.css" />

<script>
    window.addEventListener('DOMContentLoaded', function () {
        initLmcCookieConsentManager(
            'ramonguilherme-com-br',
            {
                consentCollectorApiUrl: null,
                displayMode: 'soft',
                config: {
                    gui_options: {
                        consent_modal: {
                            layout: 'box',                 // box/cloud/bar
                            position: 'bottom right',      // bottom/middle/top + left/right/center
                            transition: 'zoom',            // zoom/slide
                            swap_buttons: true             // enable to invert buttons
                        },
                        settings_modal: {
                            layout: 'box',                 // box/bar
                            transition: 'zoom'             // zoom/slide
                        }
                    },
                    languages: {
                        pt_BR: {
                            consent_modal: {
                                title: 'Cookies... 🙈',
                                description: `Não que seja impossível sem eles. Mas é justo dizer que eles nos ajudam a criar conteúdo de qualidade de graça.<br />
                                    <a href="" data-cc="c-settings">OK, mas deixe-me escolher</a>.`,
                                primary_btn: {
                                    text: 'Aceitar todos',
                                    role: 'accept_all',
                                },
                                secondary_btn: {
                                    text: 'Apenas necessários',
                                    role: 'accept_necessary',
                                },
                            },
                            settings_modal: {
                                title: 'Personalizar configurações de Cookies',
                                accept_all_btn: 'Aceitar todos',
                                reject_all_btn: 'Apenas necessários',
                                save_settings_btn: 'Salvar configurações',
                                blocks: [
                                    {
                                        description: `Ao clicar em "Aceitar todos", você concorda que o Frontend Garden use cookies para fins de análise e marketing.
                                            A análise de visitas nos ajudará a saber quais tópicos são mais interessantes para você. E o marketing bem-sucedido de assuntos comerciais garantirá o tempo necessário para criar conteúdo de qualidade gratuito para todos.`,
                                    },
                                    {
                                        title: 'Cookies necessários',
                                        description: `Esses cookies são essenciais para o funcionamento correto do nosso site e não podem ser desativados.
                                            Sem eles, o login na newsletter e na área de membros não funcionará em nosso site.`,
                                        toggle: {
                                            value: 'necessary',
                                            enabled: true,
                                            readonly: true,
                                        },
                                    },
                                    {
                                        title: 'Cookies analytics',
                                        description: `Com eles, acompanhamos quantas pessoas visitam nosso site, como o utilizam e o que mais interessa.
                                            Isso nos permite melhorar constantemente o site.`,
                                        toggle: {
                                            value: 'analytics',
                                            enabled: false,
                                            readonly: false,
                                        },
                                    },
                                    {
                                        title: 'Cookies de marketing',
                                        description: `Com esses cookies, podemos medir a eficácia de nossos anúncios.
                                            Os cookies de marketing nos permitem mostrar a você novidades que possam ser do seu interesse na Internet.`,
                                        toggle: {
                                            value: 'ads',
                                            enabled: false,
                                            readonly: false,
                                        },
                                    },
                                ],
                            },
                        },
                    },
                },
            },
        );
    });
</script>
