@use "../../settings/borders";
@use "../../settings/container" as container-settings;
@use "../../tools/breakpoint";
@use "../../tools/container";
@use "../../tools/content-block";
@use "../../tools/interruption";

.cta {
    @include content-block.vertical-offset($extra-large: true, $always: true);

    border-radius: borders.$radius;
}

.cta__label {
    @include interruption.label("Článek pokračuje níže ↓");

    @include breakpoint.up(lg) {
        max-width: container-settings.$narrow-width - 2 * container-settings.$padding-sm;
        margin-inline: auto;
    }
}

.cta--wide,
.cta--breakout {
    border-radius: 0;
}

.cta--wide {
    @include content-block.wide();

    @include breakpoint.up(md) {
        border-radius: borders.$radius;
    }
}

.cta--breakout {
    @include container.breakout();
}

.cta--wide .cta__label::before {
    @include breakpoint.up(md) {
        left: 0;
    }
}
