:root {
    --ui-success-background-color: #{map-get($colors-ui, success)};
    --ui-error-background-color: #{map-get($colors-ui, error)};
    --page-background-color: #{$color-white};
    --page-text-color: #{map-get($colors-grays, gray-darker)};
    --link-color: #{map-get($colors-brand, blue)};
    --button-background: #{map-get($colors-brand, green-dark)};
    --button-hover-background: #{map-get($colors-brand, green)};
    --button-active-background: #{map-get($colors-brand, green-darker)};
    --cover-text-color: #{$color-white};
    --post-card-background-color: #{$color-white};
    --post-card-text-color: inherit;
    --primary-background-color: #{map-get($colors-brand, green-darker)};
    --alternate-background-color: #{map-get($colors-grays, gray-lighter)};
    --dark-background-color: #{map-get($colors-grays, gray-darker)};
    --footer-text-color: inherit;
    --ruler-color: #{map-get($colors-grays, gray-lighter)};
}

@media (prefers-color-scheme: dark) {
    :root {
        --ui-success-background-color: #{map-get($colors-ui, success-dark)};
        --ui-error-background-color: #{map-get($colors-ui, error-dark)};
        --page-background-color: #{map-get($colors-grays, gray-darker)};
        --page-text-color: #{map-get($colors-grays, gray-light)};
        --link-color: #{map-get($colors-brand, blue-light)};
        --button-background: #{map-get($colors-brand, green-darkest)};
        --button-hover-background: #{map-get($colors-brand, green-darker)};
        --button-active-background: #{map-get($colors-brand, green-darkest)};
        --cover-text-color: #{map-get($colors-grays, gray-light)};
        --post-card-background-color: #{map-get($colors-grays, gray-darker)};
        --post-card-text-color: inherit;
        --primary-background-color: #{map-get($colors-brand, green-darkest)};
        --alternate-background-color: #{map-get($colors-grays, gray-darkest)};
        --dark-background-color: #{map-get($colors-grays, gray-darkest)};
        --footer-text-color: #{map-get($colors-grays, gray)};
        --ruler-color: #{map-get($colors-grays, gray-dark)};
    }
}
