// 1. Reset small caps in the first line of perex in Safari as there is a bug:
//    https://bugs.webkit.org/show_bug.cgi?id=3409
// 2. Separate perex with horizontal line.
// 3. Break vertical rhythm inside blockquote (but get it back immediately after).
// 4. Custom styling of inline `<code>` fragments matches prism.js Okaidia theme.
// 5. Increase specificity to paragraphs and lists to avoid unwanted leaks to code blocks styled by
//    prism.js.
// 6. Fallback for IE which doesn't support CSS custom properties.

// Perex
.editor > p:first-child {
    &::first-line {
        @include typography(small-caps);

        font-weight: map-get($typography-font-weight-values, bold);
        line-height: 1.8;
    }

    // 2.
    &::after {
        @include horizontal-ruler();

        content: '';
        display: block;
        margin-top: spacing(1);
        margin-bottom: spacing(1);
    }
}

// 1.
@include safari-only('p:first-child::first-line') {
    font-size: 1em;
    line-height: inherit;
    font-family: inherit;
    font-variant: normal;
    font-feature-settings: normal;
    letter-spacing: 0;
    text-transform: none;
}

// Headlines
.editor h2:not(:first-child) {
    margin-top: spacing(1);
    margin-bottom: spacing(1);

    @include breakpoint-up(md) {
        margin-top: spacing(2);
    }
}

.editor h2 a,
.editor h3 a,
.editor h4 a,
.editor h5 a,
.editor h6 a {
    @include link-unstyled();
    @include transition(color);

    @include breakpoint-up(sm) {
        @media (hover: hover) {
            position: relative;

            &::before {
                @include transition('opacity, transform');

                content: '#';
                position: absolute;
                right: 100%;
                bottom: 0.14em;
                opacity: 0;
                color: map-get($colors-grays, gray);
                transform: translateX(-0.25rem);
            }

            &:hover,
            &:focus {
                color: map-get($colors-ui, info);
            }

            &:hover::before,
            &:focus::before {
                opacity: 1;
                transform: translateX(-0.5rem);
            }
        }
    }
}

// Images
.editor figure img {
    display: block;
    max-width: 100%;
    height: auto;
}

.editor figcaption {
    @include typography(small-caps);

    font-size: ms(-1);

    &::before {
        content: '↑';
        margin-right: 1ex;
    }
}

// Quotes
.editor blockquote {
    @include content-block-vertical-offset();
    @include typography(blockquote);

    padding: spacing(0.5) 0 spacing(0.5) spacing(1); // 3.
    border-left: $border-width-thick solid map-get($colors-ui, info);
}

// Code
// 4., 5.
.editor p code,
.editor ol code,
.editor ul code {
    @include typography(code);

    padding: 0.2em 0.4em;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
}

// Tables
.editor table {
    @include content-block-vertical-offset();
    @include content-block-wide(true);
}

.editor th,
.editor td {
    @include typography(small);

    padding: 0.75em $table-cell-padding-horizontal;
    line-height: 1.6;
}

.editor th {
    text-align: left;
}

.editor tbody tr:nth-child(odd) {
    background-color: map-get($colors-grays, gray-lightest); // 6.
    background-color: var(--alternate-background-color);
}

.editor th:first-child,
.editor td:first-child {
    padding-left: $container-padding;

    @include breakpoint-up(sm) {
        padding-left: $table-cell-padding-horizontal;
    }
}

.editor th:last-child,
.editor td:last-child {
    padding-right: $container-padding;

    @include breakpoint-up(sm) {
        padding-right: $table-cell-padding-horizontal;
    }
}
