@use "../settings/borders";
@use "../settings/button";
@use "../settings/colors";
@use "../tools/spacing";
@use "../tools/transition";
@use "../tools/typography";

@mixin create() {
    @include typography.style(button);
    @include transition.add(background-color);

    position: relative;
    appearance: none;
    display: inline-flex;
    column-gap: button.$column-gap;
    align-items: center;
    justify-content: center;
    height: button.$height;
    padding: button.$padding-block button.$padding-inline;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: button.$border-width solid transparent;
    border-radius: button.$border-radius;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
}

@mixin primary() {
    color: colors.$white;
    background-color: var(--button-primary-background);

    &:hover,
    &:focus {
        background-color: var(--button-primary-hover-background);
    }

    &:active,
    &:active:focus {
        background-color: var(--button-primary-active-background);
    }
}

@mixin reset() {
    appearance: none;
    display: inline;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
