@use "../settings/container";
@use "breakpoint";
@use "spacing";

@mixin vertical-offset($extra-large: false, $always: false) {
    @if $always {
        margin-block: spacing.of(1);

        @include breakpoint.up(md) {
            margin-block: spacing.of(2);
        }

        @if $extra-large {
            @include breakpoint.up(lg) {
                margin-block: spacing.of(3);
            }
        }
    } @else {
        &:not(:first-child) {
            margin-top: spacing.of(1);
        }

        &:not(:last-child) {
            margin-bottom: spacing.of(1);
        }

        @include breakpoint.up(md) {
            &:not(:first-child) {
                margin-top: spacing.of(2);
            }

            &:not(:last-child) {
                margin-bottom: spacing.of(2);
            }
        }

        @if $extra-large {
            @include breakpoint.up(lg) {
                &:not(:first-child) {
                    margin-top: spacing.of(3);
                }

                &:not(:last-child) {
                    margin-bottom: spacing.of(3);
                }
            }
        }
    }
}

@mixin wide($declare-width: false) {
    margin-right: -1 * container.$padding;
    margin-left: -1 * container.$padding;

    @if $declare-width {
        width: calc(100% + 2 * #{container.$padding});
    }

    @include breakpoint.up(sm) {
        margin-right: -1 * container.$padding-sm;
        margin-left: -1 * container.$padding-sm;

        @if $declare-width {
            width: calc(100% + 2 * #{container.$padding-sm});
        }
    }
}
