// 1. Limit Container width starting from `md` breakpoint so it doesn't interfere with
//    `content-block.wide()` around this breakpoint.
//
// 2. Content of Containers can be expanded to whole screen width.

@use "../settings/container";
@use "breakpoint";

@mixin create() {
    max-width: container.$width;
    padding-inline: container.$padding;
    margin-inline: auto;

    @include breakpoint.up(sm) {
        padding-inline: container.$padding-sm;
    }
}

@mixin dense() {
    padding-inline: container.$padding-dense;

    @include breakpoint.up(sm) {
        padding-inline: container.$padding-sm;
    }
}

@mixin fluid() {
    max-width: none;
}

@mixin narrow() {
    max-width: container.$narrow-width;
}

// 1.
@mixin article() {
    @include breakpoint.up(md) {
        max-width: container.$article-width;
    }
}

// 2.
@mixin breakout() {
    margin-inline: calc(-1 * ((100vw - 100%) / 2));
}
