@use "sass:map";
@use "../settings/colors";
@use "breakpoint";
@use "spacing";
@use "typography";

@mixin label($text) {
    position: relative;
    margin-top: spacing.of(2);

    &::before {
        @include typography.style(interruption-label);

        content: $text;
        position: absolute;
        bottom: 100%;
        left: 0.75em;
        margin-bottom: 0.75em;
        color: map.get(colors.$grays, gray-dark);

        @include breakpoint.up(lg) {
            left: 0;
        }
    }
}
