@mixin button() {
    display: inline;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    appearance: none;
}
