@use '../../settings/typography' as typography-settings;
@use '../../settings/colors';
@use '../../tools/content-block';
@use '../../tools/horizontal-ruler';
@use '../../tools/typography';

p,
ul,
ol,
dl {
    max-width: 64ch;
}

ol,
ul {
    padding-left: typography-settings.$list-padding-left;
}

small {
    @include typography.style(small);
}

del {
    color: map-get(colors.$grays, gray-dark);
}

ins {
    padding: 0.15em 0;
    text-decoration: none;
    background-color: transparentize(map-get(colors.$ui, warning), 0.75);
}

hr {
    @include content-block.vertical-offset();
    @include horizontal-ruler.create();

    height: 0;
    border-style: none none solid none;
}

img {
    @media (prefers-color-scheme: dark) {
        filter: brightness(0.85) contrast(1.1);
    }
}
