@use "sass:map";
@use "../../tools/typography";

.author-card {
    line-height: typography.line-height(small);
}

.author-card__name,
.author-card__links {
    @include typography.style(small-caps);
}

.author-card__name {
    @include typography.style(headline4);

    margin-bottom: 0;
}

.author-card__link {
    white-space: nowrap;
}

.author-card__bio {
    @include typography.style(body-small);

    margin-bottom: 0;
    line-height: inherit;
}

.author-card__text {
    margin-right: 0.25em;
    font-style: italic;
}
