@use "sass:map";
@use "../../settings/borders";
@use "../../settings/button";
@use "../../settings/colors";
@use "../../tools/spacing";
@use "../../tools/typography";

.text-field {
    @include typography.style(form-field);

    appearance: none;
    min-width: 0;
    height: button.$height;
    padding: button.$padding-block 1em;
    color: var(--page-text-color);
    border: borders.$width solid var(--input-border-color);
    border-radius: borders.$radius;
    background: var(--input-background-color);

    &::placeholder {
        color: map.get(colors.$grays, gray-dark);
    }
}
