<div class="spacing-bottom-small">
    <small>
        Odesláním formuláře souhlasíte se
        <button
            type="button"
            data-toggle="#subscribe-form-consent"
            class="button-link"
            aria-expanded="false"
        >
            zpracováním osobních údajů
        </button>.
    </small>
</div>

<div id="subscribe-form-consent" class="text-small-block" hidden>
    Zpracování osobních údajů probíhá za účelem zasílání newsletteru.
    Můžete se spolehnout, že vaše osobní údaje nebudeme s&nbsp;nikým sdílet.
    Z&nbsp;newsletteru se můžete kdykoli odhlásit.
    Stejně tak můžete kdykoli požádat o&nbsp;úplné smazání svých osobních údajů z&nbsp;naší databáze.
</div>
