<div class="text-small-block spacing-bottom-small">
    Ao enviar o formulário, você concorda com o
    <button
        type="button"
        data-toggle="#subscribe-form-consent"
        class="button-link"
        aria-expanded="false"
    >
        processamento de dados pessoais
    </button>.
</div>

<div id="subscribe-form-consent" class="text-small-block" hidden>
    O processamento de dados pessoais é realizado com o objetivo de enviar newsletters.
    Você pode confiar que seus dados pessoais não serão compartilhados com ninguém.
    Você pode cancelar a assinatura da newsletter a qualquer momento.
    Da mesma forma, você pode solicitar a exclusão completa de seus dados pessoais de nosso banco de dados a qualquer momento.
</div>
