<div class="input-group spacing-bottom-small">
    <label for="{{id_prefix}}__email" class="visually-hidden">
        E-mail
    </label>
    <input
        type="email"
        id="{{id_prefix}}__email"
        class="text-field"
        placeholder="Digite seu e-mail"
        size="25"
        data-members-email
        required
    />
    <button
        type="submit"
        class="button button--primary"
        data-track="newsletter signup form in footer"
        data-track-category="click"
        data-track-label="Sign up"
    >
        <span class="button__content members-form__hide-when-loading">
            {{action}}
        </span>
        <span class="button__loader members-form__feedback members-form__feedback--loading">
            <span class="icon icon--large">
                {{> "icons/loader"}}
            </span>
        </span>
    </button>
</div>
