<div
    role="alert"
    class="alert alert--error members-form__feedback members-form__feedback--error"
    data-members-error
>
    {{#has title}}
        <strong>{{{title}}}</strong>
    {{/has}}
    {{{message}}}
</div>
