<form class="members-form" data-members-form="subscribe">

    <h2>Newsletter</h2>
    <p>Digite seu e-mail e não perca mais novos artigos!</p>

    {{> "members/email-box" action="Assine agora" id_prefix="signup-in-footer"}}

    <div class="spacing-bottom">
        {{> "members/agreement"}}
    </div>

    {{> "members/feedback-success"
        title="Apenas um passo!"
        message="Verifique a sua caixa de entrada de e-mail e confirme seu login clicando no link."
    }}
    {{> "members/feedback-error"}}

</form>
