<div
    id="notification-subscribe-success"
    class="alert alert--in-layout alert--dismissible alert--success"
    role="alert"
    data-dismissible
    hidden
>
    <div class="container container--fluid">
        <strong>Gratulujeme!</strong>
        Úspěšně jste se přihlásili k&nbsp;odběru novinek {{@site.title}}.
    </div>
    <button type="button" class="alert__close" data-dismiss title="Zavřít">×</button>
</div>

<div
    id="notification-subscribe-error"
    class="alert alert--in-layout alert--dismissible alert--error"
    role="alert"
    data-dismissible
    hidden
>
    <div class="container container--fluid">
        <strong>Ajaj.</strong>
        Při pokusu o přihlášení k&nbsp;odběru novinek došlo k&nbsp;chybě.
        Zkuste to prosím znovu.
    </div>
    <button type="button" class="alert__close" data-dismiss title="Zavřít">×</button>
</div>
