<div
    id="notification-subscribe-success"
    class="alert alert--in-layout alert--dismissible alert--success"
    role="alert"
    data-dismissible
    hidden
>
    <div class="container container--fluid">
        <strong>Parabéns!</strong>
        Você se inscreveu com sucesso para receber as novidades do {{@site.title}}.
    </div>
    <button type="button" class="alert__close" data-dismiss title="Fechar">×</button>
</div>

<div
    id="notification-subscribe-error"
    class="alert alert--in-layout alert--dismissible alert--error"
    role="alert"
    data-dismissible
    hidden
>
    <div class="container container--fluid">
        <strong>Ops.</strong>
        Ocorreu um erro ao tentar se inscrever para receber as novidades.
        Por favor, tente novamente.
    </div>
    <button type="button" class="alert__close" data-dismiss title="Fechar">×</button>
</div>
