<form class="members-form" data-members-form="subscribe">

    <h2>Odběr novinek</h2>
    <p>Zadejte svůj e-mail a&nbsp;nenechte si ujít další nové články!</p>

    <div class="input-group spacing-bottom-small">
        <label for="signup-email" class="visually-hidden">
            E-mail
        </label>
        <input
            type="email"
            id="signup-email"
            class="text-field"
            placeholder="Zadejte svůj e-mail"
            size="25"
            data-members-email
            required
        />
        <button type="submit" class="button">
            <span class="button__content members-form__hide-when-loading">Přihlásit k odběru</span>
            <span class="button__loader members-form__feedback members-form__feedback--loading">
                <span class="icon icon--large">
                    {{> "icons/loader"}}
                </span>
            </span>
        </button>
    </div>

    <div class="spacing-bottom">
        <div class="spacing-bottom-small">
            <small>
                Odesláním formuláře souhlasíte se
                <button
                    type="button"
                    data-toggle="#subscribe-form-consent"
                    class="button-link"
                    aria-expanded="false"
                >
                    zpracováním osobních údajů
                </button>.
            </small>
        </div>
        <div id="subscribe-form-consent" class="text-small-block" hidden>
            Zpracování osobních údajů probíhá za účelem zasílání newsletteru.
            Můžete se spolehnout, že vaše osobní údaje nebudeme s&nbsp;nikým sdílet.
            Z&nbsp;newsletteru se můžete kdykoli odhlásit.
            Stejně tak můžete kdykoli požádat o&nbsp;úplné smazání svých osobních údajů z&nbsp;naší databáze.
        </div>
    </div>

    <div class="alert alert--success members-form__feedback members-form__feedback--success">
        <strong>Už jen krůček!</strong>
        Zkontrolujte svoji e-mailovou schránku a&nbsp;potvrďte své přihlášení kliknutím na&nbsp;odkaz.
    </div>

    <div
        class="alert alert--error members-form__feedback members-form__feedback--error"
        data-members-error
    ></div>
</form>
