// 1. First line of perex needs more space, let's adjust it manually this time.

.article__header,
.article__content {
    padding-top: spacing(2);
    padding-bottom: spacing(2);
}

.article__header {
    background-color: map-get($colors-grays, gray-light);
}

.article__title {
    margin-top: 0.15em;
    margin-bottom: 0.25em;
}

.article__summary {
    @include typography(summary);
}

.article__meta {
    @include typography(small-caps);

    font-size: ms(-1);
}

.article__content p:first-child {
    margin-bottom: spacing(2);

    &::first-line {
        @include typography(small-caps);

        font-weight: map-get($typography-font-weight-values, bold);
        line-height: 1.7; // 1.
    }

    &::after {
        content: '';
        display: block;
        margin: spacing(1) auto;
        border-bottom: $border-width solid map-get($colors-grays, gray);
    }
}

.article__content h2:not(:first-child) {
    margin-top: spacing(2);
}
