$_avatar-size: 3em * $typography-line-height-base;
$_avatar-small-size: 2em * $typography-line-height-base;

.avatar {
    display: block;
    width: $_avatar-size;
    height: $_avatar-size;
    overflow: hidden;
    border-radius: 50%;
}

.avatar__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.avatar--small {
    width: $_avatar-small-size;
    height: $_avatar-small-size;
}

.avatar--link {
    position: relative;

    &::after {
        @include transition(opacity);

        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        opacity: 0;
        box-shadow: inset 0 0 0.4em $color-black;
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
    }
}

.avatar--link .avatar__image {
    @include transition(filter);
}

.avatar--link:hover .avatar__image,
.avatar--link:focus .avatar__image {
    filter: brightness(125%);
}
