.footer {
    padding-top: spacing(2);
    padding-bottom: spacing(2);
    text-align: center;
    color: var(--footer-text-color);
}

.footer__title {
    @include typography(footer-title);
}

.footer__section {
    @include typography(small);

    max-width: none;
    margin-bottom: spacing(1);

    &:last-child {
        margin-bottom: 0;
    }
}
