.header {
    padding-top: spacing(1);
    padding-bottom: spacing(1);
}

.header__layout {
    @include breakpoint-up($header-linear-breakpoint) {
        display: flex;
        align-items: center;
    }
}

.header__logotype {
    @include link-unstyled();

    display: inline-flex;
    align-items: flex-start;
}

.header__logo {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.header__title {
    @include typography(header-title);
}

.header__navigation {
    &:not(:empty) {
        padding-top: spacing(1);
    }

    @include breakpoint-up($header-linear-breakpoint) {
        margin-left: auto;

        &:not(:empty) {
            padding-top: 0;
        }
    }
}
