// 1. Fallback for IE which doesn't support CSS custom properties.

.post-card {
    @include transition(#{box-shadow, transform});

    position: relative;
    z-index: 1;
    height: 100%;
    color: var(--post-card-text-color);
    border-radius: $border-radius;
    background-color: $color-white; // 1.
    background-color: var(--post-card-background-color);

    @media (hover: hover) {
        will-change: box-shadow, transform;

        &:hover {
            z-index: 2;
            box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.15);
            transform: scale(1.03, 1.03);
        }
    }
}

.post-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: spacing(1) 10%;
}

.post-card__image {
    display: block;
    width: 100%;
    height: auto;
}

.post-card__meta {
    @include typography(small-caps);

    font-size: ms(-2);
}

.post-card__title {
    @include typography(headline3);

    margin-top: 0.15em;
}

.post-card__title__link {
    @include link-unstyled();

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.post-card__summary {
    flex: 1 0 auto;
    line-height: 1.6;
}

.post-card__link {
    position: relative;
    z-index: 1;
}
