.vd-banner {
    padding: spacing(1) 10%;
    color: $color-white;
    border-radius: $border-radius;
    background-color: $color-brand-vd;
}

.vd-banner__layout {
    display: flex;
    flex-direction: column;

    @include breakpoint-up(sm) {
        flex-direction: row;
    }
}

.vd-banner__layout__text {
    flex: 1 1 auto;
    margin-bottom: spacing(1);

    @include breakpoint-up(sm) {
        margin-right: spacing(1);
        margin-bottom: 0;
    }
}

.vd-banner__layout__logo {
    align-self: center;
}

.vd-banner__logo {
    width: 3em;
    height: auto;
}
