// 1. Workaround for IE min-height bug.
//    https://github.com/philipwalton/flexbugs/issues/75

@use '../../settings/colors';
@use '../../settings/grid';
@use '../../tools/breakpoint';
@use '../../tools/container';
@use '../../tools/content-block';
@use '../../tools/spacing';
@use '../../tools/typography';

// Koenig card
.kg-card {
    @include content-block.vertical-offset();
}

.kg-card figcaption {
    margin-top: spacing.of(0.5);

    @include breakpoint.up(md) {
        margin-top: spacing.of(1);
    }
}

.kg-embed-card {
    display: flex;
    justify-content: center;
}

// Sizes
.kg-width-wide {
    @include content-block.wide();
}

.kg-width-full {
    @include container.expand();
}

.kg-width-wide figcaption,
.kg-width-full figcaption {
    @include container.create();
}

.kg-width-full figcaption {
    @include container.article();
}

.kg-width-full .kg-image {
    margin-right: auto;
    margin-left: auto;
}

// Galleries
.kg-gallery-container {
    @include container.expand();

    display: flex;
    flex-direction: column;

    @include breakpoint.up(md) {
        padding-right: grid.$gap-small;
        padding-left: grid.$gap-small;
    }
}

.kg-gallery-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; // 1.
    min-height: 1px; // 1.

    @include breakpoint.up(md) {
        flex-direction: row;

        &:not(:first-of-type) {
            margin: grid.$gap-small 0 0 0;
        }
    }
}

.kg-gallery-image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.kg-gallery-image {
    margin-bottom: grid.$gap-small;

    @include breakpoint.up(md) {
        margin-bottom: 0;

        &:not(:first-of-type) {
            margin-left: grid.$gap-small;
        }
    }
}

// Bookmarks
.kg-code-card {
    min-width: 100%;
}

.kg-code-card pre {
    margin: 0;
}

.kg-bookmark-card {
    width: 100%;
    background: colors.$white;
}

.kg-card + .kg-bookmark-card {
    margin-top: 0;
}

.post-full-content .kg-bookmark-container {
    display: flex;
    min-height: 148px;
    text-decoration: none;
    color: map-get(colors.$grays, gray-dark);
    border-radius: 3px;
    box-shadow:
        0 2px 5px -1px rgba(0, 0, 0, 0.15),
        0 0 1px rgba(0, 0, 0, 0.09);
}

.kg-bookmark-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.kg-bookmark-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: typography.line-height(medium);
    color: map-get(colors.$grays, gray-dark);
}

.post-full-content .kg-bookmark-container:hover .kg-bookmark-title {
    color: colors.$primary;
}

.kg-bookmark-description {
    max-height: 48px;
    margin-top: 12px;
    overflow-y: hidden;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: typography.line-height(medium);
    color: map-get(colors.$grays, gray);
    -webkit-line-clamp: 2;
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 3px 3px 0;
}

.kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.5rem;
    color: map-get(colors.$grays, gray);
}

.post-full-content .kg-bookmark-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.kg-bookmark-author {
    line-height: typography.line-height(medium);
}

.kg-bookmark-author::after {
    content: "•";
    margin: 0 6px;
}

.kg-bookmark-publisher {
    max-width: 240px;
    overflow: hidden;
    line-height: typography.line-height(medium);
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 500px) {
    .post-full-content .kg-bookmark-container {
        flex-direction: column;
    }

    .kg-bookmark-thumbnail {
        order: 1;
        width: 100%;
        min-height: 160px;
    }

    .kg-bookmark-thumbnail img {
        border-radius: 3px 3px 0 0;
    }

    .kg-bookmark-content {
        order: 2;
    }
}
