@use '../../settings/borders';
@use '../../settings/colors';
@use '../../settings/container' as container-settings;
@use '../../tools/breakpoint';
@use '../../tools/container';
@use '../../tools/content-block';
@use '../../tools/interruption';
@use '../../tools/spacing';
@use '../../tools/typography';

.tip {
    @include content-block.vertical-offset();
    @include content-block.wide();

    padding: spacing.of(1) container-settings.$padding;
    border-left: borders.$width-thick solid map-get(colors.$ui, warning);
    background-color: transparentize(map-get(colors.$ui, warning), 0.75);

    @include breakpoint.up(sm) {
        padding-right: container-settings.$padding-sm;
        padding-left: container-settings.$padding-sm;
    }

    @include breakpoint.up(md) {
        border-radius: borders.$radius;
    }
}

.tip h4:first-child,
.tip h5:first-child,
.tip h6:first-child {
    margin-top: 0;
}

.tip p:last-child {
    margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    $_emphasize-color: transparentize(colors.$white, 0.08);

    .tip a,
    .tip strong,
    .tip h2,
    .tip h3,
    .tip h4,
    .tip h5,
    .tip h6 {
        color: $_emphasize-color;
    }

    .tip h2 a,
    .tip h3 a,
    .tip h4 a,
    .tip h5 a,
    .tip h6 a {
        &:hover,
        &:focus {
            color: $_emphasize-color;
        }
    }
}

.tip--ad {
    @include interruption.label('Pozor! Nestydatá reklama… ↓');
}
