{{!
    Example usage in posts:

    <aside data-snippet="post-box-ad" data-populate="my-post-ad"></aside>
}}

<div class="cta cta--wide background-alternate print-hidden">
    <div class="cta__label"></div>
    <div class="section">
        <div class="container">

            <h2 class="spacing-bottom-small" data-populate-field="title"></h2>
            <p class="spacing-bottom-small" data-populate-field="text"></p>
            <a
                data-populate-field="cta"
                data-track="ad"
                data-track-category="Post breakout ad"
            ></a>

        </div>
    </div>
</div>
