{{!
    Example usage in posts:

    <aside data-snippet="post-breakout-ad" data-populate="my-post-ad"></aside>
}}

<div class="cta cta--breakout background-alternate print-hidden">
    <div class="cta__label"></div>
    <div class="section">
        <div class="container container--narrow">

            <h2 data-populate-field="title"></h2>
            <p data-populate-field="text"></p>
            <figure class="spacing-bottom-none" data-populate-field="image">
                <img src="" loading="lazy" class="kg-image" alt="" />
            </figure>
            <a
                class="button button--primary"
                data-populate-field="cta"
                data-track="ad"
                data-track-category="Post breakout ad"
            ></a>

        </div>
    </div>
</div>
