{{!
    Example usage in posts:

    <aside data-snippet="post-breakout-ad" data-populate="my-post-ad"></aside>
}}

<div class="cta cta--breakout background-alternate print-hidden">
    <div class="cta__label"></div>
    <div class="section">
        <div class="container container--narrow">

            <h2 data-populate-field="title"></h2>
            <div class="spacing-bottom" data-populate-field="text"></div>
            <a
                data-populate-field="image"
                data-track="ad"
                data-track-category="Post breakout ad"
            >
                <figure class="spacing-bottom-none">
                    <img src="" loading="lazy" class="kg-image" alt="" />
                </figure>
            </a>
            <a
                class="button button--primary"
                data-populate-field="cta"
                data-track="ad"
                data-track-category="Post breakout ad"
            ></a>

        </div>
    </div>
</div>
