p,
ul,
ol,
dl {
    max-width: 64ch;
}

ol,
ul {
    padding-left: $typography-list-padding-left;
}

small {
    @include typography(small);
}

hr {
    @include content-block();
    @include horizontal-ruler();

    height: 0;
    border-style: none none solid none;
}
