// 1. Root font size is defined in % to reflect user settings.
// 2. On body we use fluid typography.
// 3. Ensure that full-width content doesn't overflow.

html {
    height: 100%;
    font-size: $typography-font-size-root; // 1.
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @include typography(body); // 2.

    min-height: 100%;
    overflow-x: hidden; // 3.
    color: var(--page-text-color);
    background-color: var(--page-background-color);
}
