// 1. Optically align logo with other content.

.header {
    padding-top: spacing(1);
    padding-bottom: spacing(1);
}

.header__layout {
    @include breakpoint-up($header-linear-breakpoint-with-navigation) {
        display: flex;
        align-items: center;
    }
}

.header__logotype {
    @include link-unstyled();

    position: relative;
    left: -0.15em; // 1.
    display: inline-flex;
    align-items: flex-start;
}

.header__logo {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.header__title {
    @include typography(header-title);
}

.header__navigation {
    &:not(:empty) {
        padding-top: 1rem;
    }

    @include breakpoint-up($header-linear-breakpoint-with-navigation) {
        margin-left: auto;

        &:not(:empty) {
            padding-top: 0;
        }
    }
}

.header--without-navigation .header__layout {
    @include breakpoint-up($header-linear-breakpoint-without-navigation) {
        display: flex;
        align-items: center;
    }
}

.header--without-navigation .header__navigation {
    @include breakpoint-up($header-linear-breakpoint-without-navigation) {
        margin-left: auto;

        &:not(:empty) {
            padding-top: 0;
        }
    }
}
