.label {
    @include typography(small-caps);

    padding: 0 0.5em 0.2em 0.5em;
    white-space: nowrap;
    vertical-align: baseline;
    color: map-get($colors-grays, gray-darker);
    border-radius: $border-radius;
    background-color: map-get($colors-grays, gray-light);
    user-select: none;
}

.label--new {
    background-color: map-get($colors-ui, warning);
}
