$_navigation-item-padding: 0.5em;
$_navigation-item-padding-big: 1em;
$_navigation-icon-padding: 0.5em;

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -1 * $_navigation-item-padding;

    @include breakpoint-up(lg) {
        margin:
            -1 * $_navigation-item-padding-big
            -1 * $_navigation-icon-padding
            -1 * $_navigation-item-padding-big
            -1 * $_navigation-item-padding;
    }
}

.navigation__list {
    @include list-unstyled();

    display: flex;
    max-width: none;
    margin-bottom: 0;
}

.navigation__item {
    flex: none;
}

.navigation__link,
.navigation__icon-link {
    @include link-unstyled();
    @include transition(color);
}

.navigation__link {
    @include typography(small-caps);

    padding: $_navigation-item-padding;
    font-weight: map-get($typography-font-weight-values, bold);

    @include breakpoint-up(sm) {
        padding: $_navigation-item-padding-big $_navigation-item-padding;
    }

    @include breakpoint-up(lg) {
        padding: $_navigation-item-padding-big;
    }
}

.navigation__icon-link {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    padding: $_navigation-icon-padding;
    line-height: 1;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__icon-link:hover,
.navigation__icon-link:focus {
    color: var(--link-color);
}

.navigation__item--current .navigation__link,
.navigation__item--current-parent .navigation__link {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% + 1.2em);
        left: 50%;
        width: 0.2em;
        height: 0.2em;
        border-radius: 50%;
        background-color: map-get($colors-grays, gray);
        transform: translateX(-50%);
    }
}

.navigation__tag {
    display: inline-block;
    font-size: ms(-1);
    transform: translateX(-0.5em) rotateZ(8deg);

    @include breakpoint-up(lg) {
        transform: translateX(-0.8em) rotateZ(8deg);
    }
}

.navigation--secondary {
    margin-bottom: spacing(1);
}

.navigation--secondary .navigation__list {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.navigation--secondary .navigation__item {
    margin-bottom: spacing(0.5);
}

.navigation__list + .navigation__list {
    @include breakpoint-up(sm) {
        margin-left: spacing(0.5);
    }

    @include breakpoint-up(xl) {
        margin-left: spacing(1);
    }
}
