.text-field {
    @include typography(form-field);

    padding: spacing(0.5) 1em;
    color: var(--page-text-color);
    border: $border-width solid currentColor;
    border-radius: $border-radius;
    background: transparent;
    appearance: none;

    &::placeholder {
        color: map-get($colors-grays, gray-dark);
    }
}
