@use "sass:color";
@use "sass:map";
@use "../../settings/borders";
@use "../../settings/colors";
@use "../../tools/breakpoint";
@use "../../tools/typography";

@keyframes highlight {
    0% {
        background-color: color.adjust(map.get(colors.$ui, info-light), $alpha: -1);
        outline-color: transparent;
    }

    15% {
        background-color: color.adjust(map.get(colors.$ui, info-light), $alpha: -0.9);
        outline-color: map.get(colors.$ui, info);
    }

    66% {
        background-color: color.adjust(map.get(colors.$ui, info-light), $alpha: -0.9);
        outline-color: map.get(colors.$ui, info);
    }

    100% {
        background-color: color.adjust(map.get(colors.$ui, info-light), $alpha: -1);
        outline-color: transparent;
    }
}

.link-unstyled {
    @include typography.link-unstyled();
}

.link-target:target {
    @include breakpoint.up(sm) {
        border-radius: borders.$radius;
        outline: borders.$width-thick dashed transparent;
        outline-offset: 0.4em;
        animation: highlight 3s ease 1s forwards;
    }
}
