// 1. Root font size is defined in % to reflect user settings.
// 2. On body we use fluid typography.
// 3. Ensure that full-width content doesn't overflow.

@use "../../settings/typography" as typography-settings;
@use "../../tools/typography";

:root {
    color-scheme: light dark;
}

html {
    height: 100%;
    font-size: typography-settings.$font-size-root; // 1.
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    scroll-padding-top: 1.5rem;
}

body {
    @include typography.style(body); // 2.

    min-height: 100%;
    overflow-x: hidden; // 3.
    color: var(--page-text-color);
    background-color: var(--page-background-color);
}
