// 1. On mobile phones the post card needs to be narrower than we want it on bigger screens so let's
//    apply grid algorithm later.

@use '../../settings/grid';
@use '../../tools/breakpoint';
@use '../../tools/browser-hacks';

.post-feed {
    display: grid;
    grid-template-columns: 100%; // 1.
    grid-gap: grid.$gap;

    @include breakpoint.up(md) {
        grid-template-columns: repeat(auto-fit, minmax(16em, 1fr)); // 1.
    }

    @include breakpoint.up(lg) {
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); // 1.
    }
}

.post-feed__item {
    min-width: 0;
}

.post-feed__item:only-child {
    @include breakpoint.up(md) {
        max-width: 50%;
    }
}

.post-feed--articles {
    @include breakpoint.up(md) {
        grid-auto-flow: dense;
    }
}

.post-feed--articles .post-feed__item:only-child {
    @include breakpoint.up(lg) {
        max-width: 33%;
    }
}

// stylelint-disable selector-max-specificity
.post-feed--articles .post-feed__item:first-child,
.post-feed--articles .post-feed__item--featured:not(:nth-child(2)):not(:nth-child(3)) {
    @include breakpoint.up(md) {
        grid-column: span 2;
    }
}
// stylelint-enable

@include browser-hacks.ie-only() {
    .post-feed {
        display: flex;
        flex-wrap: wrap;
    }

    .post-feed__item {
        flex: 1 1 45%;
        margin-right: grid.$gap;
        margin-bottom: grid.$gap;
    }

    .post-feed--articles .post-feed__item {
        flex: 1 1 30%;
    }
}
