// 1. Avoid cascading font size.

code,
pre {
    @include typography(code);

    color: map-get($colors-grays, gray-lightest);
    background-color: map-get($colors-grays, gray-darkest);
}

pre code {
    font-size: 1em; // 1.
}

code a {
    color: map-get($colors-ui, info-light);
}
