// 1. Avoid cascading font size.

code,
pre {
    @include typography(code);
}

code {
    background-color: var(--alternate-background-color);
}

pre {
    color: map-get($colors-grays, gray-lightest);
    background-color: map-get($colors-grays, gray-darkest);
}

pre code {
    font-size: 1em; // 1.
}

code a {
    color: unset;
    border-bottom-color: map-get($colors-ui, info-light);
}
