// 1. Article title needs manual margin.
// 2. Optically align rounded avatar with text.

@use "../../../../node_modules/modularscale-sass/stylesheets/modularscale";
@use "../../tools/typography";

.article__title,
.article__summary {
    max-width: 50rem;
}

.article__title {
    margin-bottom: 0.4em; // 1.

    &:last-child {
        margin-bottom: 0;
    }
}

.article__summary {
    @include typography.style(summary);

    &:last-child {
        margin-bottom: 0;
    }
}

.article__meta {
    @include typography.style(small-caps);

    font-size: modularscale.ms(-1);
}

.article__meta + .article__title {
    margin-top: 0.25em; // 1.
}

.article__author {
    max-width: 42rem;
    margin-left: -0.15em; // 2.
}
