@use '../../../../node_modules/modularscale-sass/stylesheets/modularscale';
@use '../../settings/grid';
@use '../../settings/typography' as typography-settings;
@use '../../tools/typography';

.author-card {
    display: flex;
}

.author-card__media {
    margin-right: grid.$gap;
}

.author-card__content {
    line-height: map-get(typography-settings.$line-height-values, dense);
}

.author-card__name,
.author-card__bio__links {
    @include typography.style(small-caps);
}

.author-card__name {
    @include typography.style(headline4);

    margin-bottom: 0;
}

.author-card__link {
    white-space: nowrap;
}

.author-card__bio {
    margin-bottom: 0;
    font-size: modularscale.ms(-1);
}

.author-card__bio__text {
    margin-right: 0.25em;
    font-style: italic;
}
