@use '../../tools/button';

.button {
    @include button.create();
}

.button__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-flex;
    line-height: 1;
    transform: translate(-50%, -50%);
}

.button--outline {
    color: currentColor;
    border-color: currentColor;
    background-color: transparent;
}
