.icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
}

.icon > svg {
    width: 100%;
    height: auto;
    fill: currentcolor;
}

.icon--in-text {
    vertical-align: middle;
}

.icon--large {
    width: 2em;
    height: 2em;
}
