@use "sass:map";
@use "../../settings/colors";
@use "../../settings/navigation";
@use "../../tools/breakpoint";
@use "../../tools/spacing";
@use "../../tools/transition";
@use "../../tools/typography";

$_navigation-icon-padding: 0.5em;
$_navigation-padding-breakpoint-1: md;
$_navigation-padding-breakpoint-2: lg;

.navigation {
    margin: -1 * navigation.$item-padding-small;

    @include breakpoint.up($_navigation-padding-breakpoint-1) {
        margin:
            -1 * navigation.$item-padding-big
            -1 * navigation.$item-padding-small
            -1 * navigation.$item-padding-big
            -1 * navigation.$item-padding-small;
    }
}

.navigation__list {
    @include typography.list-unstyled();

    display: flex;
    max-width: none;
    margin-bottom: 0;
}

.navigation__item {
    flex: none;
}

.navigation__link,
.navigation__icon-link {
    @include typography.link-unstyled();
    @include transition.add(color);
}

.navigation__link {
    @include typography.style(small-caps);

    padding: navigation.$item-padding-small;
    font-weight: typography.font-weight(bold);

    @include breakpoint.up($_navigation-padding-breakpoint-1) {
        padding-top: navigation.$item-padding-big;
        padding-bottom: navigation.$item-padding-big;
    }

    @include breakpoint.up($_navigation-padding-breakpoint-2) {
        padding-right: navigation.$item-padding-big;
        padding-left: navigation.$item-padding-big;
    }
}

.navigation__icon-link {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    padding: navigation.$item-padding-small;
    line-height: 1;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__icon-link:hover,
.navigation__icon-link:focus {
    color: var(--link-color);
}

.navigation__item--current .navigation__link,
.navigation__item--current-parent .navigation__link {
    --bullet-shift-y: 0.9em;

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: calc(50% + var(--bullet-shift-y));
        left: 50%;
        width: 0.2em;
        height: 0.2em;
        border-radius: 50%;
        background-color: map.get(colors.$grays, gray);
        transform: translateX(-50%);
    }

    @include breakpoint.up($_navigation-padding-breakpoint-1) {
        --bullet-shift-y: 1em;
    }

    @include breakpoint.up($_navigation-padding-breakpoint-2) {
        --bullet-shift-y: 1.2em;
    }
}

.navigation__tag {
    display: inline-block;
    transform: translate(-0.6em, -0.4em) rotateZ(11deg);
    pointer-events: none;

    @include breakpoint.up($_navigation-padding-breakpoint-2) {
        margin-right: -2.3em;
        transform: translate(-2.3em, -1.5em) rotateZ(15deg);
    }
}

.navigation--icons {
    margin: -1 * navigation.$item-padding-small;
}

.navigation--secondary .navigation__list {
    flex-wrap: wrap;
    justify-content: center;
}
