{{!< ../default}}

<main class="site__content">
    <section class="section">
        <div class="container container--narrow">

            {{#if @member}}

                {{!-- Logado --}}
                <h1>Bem-vindo!</h1>
                <p>
                    Você está logado com o endereço de e-mail <strong>{{@member.email}}</strong>.
                </p>
                <a href="#signout" data-members-signout>Sair</a>

            {{else}}

                {{!-- Não logado: Redirecionar para o login --}}
                <script>window.location = '{{@site.url}}/login/';</script>

            {{/if}}

        </div>
    </section>
</main>

{{> "footer" hideSubscribeForm=true}}
