{{!< ../default}}

<main class="site__content">
    <section class="section">

        {{#if @member}}

            {{!-- Logado: Redirecionar para a página inicial --}}
            <script>window.location = '{{@site.url}}';</script>

        {{else}}
            <div class="container container--article">

                {{!-- Não logado: Cadastre-se --}}
                <form class="members-form" data-members-form="signup">
                    <h1>Cadastro</h1>

                    {{> "members/email-box" action="Continuar"}}

                    <div class="spacing-bottom-small">
                        {{> "members/agreement"}}
                    </div>

                    <div class="spacing-bottom">
                        <small>
                            Já possui uma conta?
                            <a href="{{@site.url}}/login/">Faça login</a>.
                        </small>
                    </div>

                    {{> "members/feedback-success"
                        title="Só mais um passo!"
                        message="Verifique sua caixa de entrada e confirme o cadastro clicando no link."
                    }}

                    {{> "members/feedback-error"
                        message="Por favor, insira um endereço de e-mail válido."
                    }}
                </form>

            </div>
        {{/if}}

    </section>
</main>
</main>

{{> "footer" hideSubscribeForm=true}}
