// Replaces https://github.com/TryGhost/Ghost/blob/main/core/frontend/src/cards/css/bookmark.css

@use "sass:map";
@use "../../settings/borders";
@use "../../settings/colors";
@use "../../tools/breakpoint";
@use "../../tools/spacing";
@use "../../tools/transition";
@use "../../tools/typography";

$_breakpoint: md;

.kg-bookmark-card {
    width: 100%;
    max-width: 22em;
    margin-inline: auto;
    background: var(--page-background-color);

    @include breakpoint.up($_breakpoint) {
        max-width: none;
    }
}

.kg-bookmark-container {
    display: flex;
    flex-direction: column-reverse;
    border: borders.$width solid var(--ruler-color);
    border-radius: borders.$radius;
    box-shadow: var(--small-shadow);

    @media (hover: hover) {
        @include transition.add($property: #{box-shadow});

        will-change: box-shadow;

        &:hover {
            box-shadow: var(--medium-shadow);
        }
    }

    @media print {
        break-inside: avoid;
        border-width: borders.$width-thick;
        box-shadow: none;
    }

    @include breakpoint.up($_breakpoint) {
        flex-direction: row;
    }
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    row-gap: spacing.of(0.5);
    align-items: flex-start;
    justify-content: flex-start;
    padding: spacing.of(0.75);
    color: var(--page-text-color);

    @include breakpoint.up($_breakpoint) {
        flex: 1;
        justify-content: center;
    }
}

.kg-bookmark-title,
.kg-bookmark-description {
    @include typography.line-clamp(2);
}

.kg-bookmark-title {
    @include typography.style(headline4);

    line-height: typography.line-height(dense);
}

.kg-bookmark-description {
    @include typography.style(small-block);

    max-height: spacing.of(1.5);
    color: var(--text-muted-color);
}

.kg-bookmark-metadata {
    @include typography.style(small-block);

    display: flex;
    column-gap: 0.5em;
    align-items: center;
}

.kg-bookmark-icon {
    width: 2em;
    height: 2em;
}

.kg-bookmark-author {
    white-space: nowrap;

    &::after {
        content: "•";
        margin-left: 0.5em;
    }
}

.kg-bookmark-publisher {
    @include typography.line-clamp(1);

    color: var(--text-muted-color);
}

.kg-bookmark-thumbnail {
    position: relative;
    overflow: hidden;
    border-bottom: borders.$width solid var(--ruler-color);

    &::after {
        content: "";
        position: absolute;
        right: -5em;
        bottom: 0;
        left: -5em;
        display: block;
        height: 5em;
        background: radial-gradient(farthest-side at bottom, rgba(0 0 0 / 5%), rgba(0 0 0 / 0%));
    }

    @media (prefers-color-scheme: dark) {
        &::after {
            background: radial-gradient(farthest-side at bottom, rgba(0 0 0 / 15%), rgba(0 0 0 / 0%));
        }
    }

    @include breakpoint.up($_breakpoint) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        padding: spacing.of(0.75) spacing.of(0.75) spacing.of(0.75) 0;
        border-bottom: none;

        &::after {
            content: unset;
        }
    }
}

.kg-bookmark-thumbnail > img {
    width: 100%;
    border-radius: borders.$radius borders.$radius 0 0;

    @include breakpoint.up($_breakpoint) {
        width: auto;
        max-height: 9em;
        border: borders.$width solid var(--ruler-color);
        border-radius: 0;
    }
}
