// Replaces https://github.com/TryGhost/Ghost/blob/main/core/frontend/src/cards/css/callout.css

@use "sass:color";
@use "sass:map";
@use "../../settings/borders";
@use "../../settings/colors";
@use "../../settings/container";
@use "../../settings/grid";
@use "../../tools/breakpoint";
@use "../../tools/content-block";
@use "../../tools/spacing";
@use "../../tools/typography";

.kg-callout-card {
    @include content-block.wide();

    display: flex;
    column-gap: grid.$gap;
    padding: spacing.of(0.75) container.$padding;
    border-radius: 0;

    @include breakpoint.up(sm) {
        margin-inline: 0;
        border-radius: borders.$radius;
    }
}

.kg-callout-emoji {
    font-size: 1.15em;
    line-height: 1.25;
}

.kg-callout-text {
    @include typography.style(callout);
}

.kg-callout-card-grey {
    background-color: color.adjust(map.get(colors.$grays, gray-dark), $alpha: -0.9);
}

.kg-callout-card-white {
    border-top: borders.$width solid var(--ruler-color);
    border-bottom: borders.$width solid var(--ruler-color);

    @include breakpoint.up(sm) {
        border: none;
        box-shadow: inset 0 0 0 borders.$width var(--ruler-color);
    }
}

.kg-callout-card-blue {
    background-color: color.adjust(map.get(colors.$ui, info), $alpha: -0.89);
}

.kg-callout-card-green {
    background-color: color.adjust(map.get(colors.$ui, success), $alpha: -0.88);
}

.kg-callout-card-yellow {
    background-color: color.adjust(map.get(colors.$ui, warning), $alpha: -0.84);
}

.kg-callout-card-accent {
    color: colors.$white;
    background-color: var(--primary-background-color);
}

.kg-callout-card-accent a {
    text-decoration: none;
}

@media print {
    .kg-callout-card {
        border: borders.$width-thick solid var(--ruler-color);
        box-shadow: none;
    }
}
