// Replaces https://github.com/TryGhost/Ghost/blob/main/core/frontend/src/cards/css/gallery.css
// ⚠️ Relies on inline styles injected by `assets/js/main.js`.

@use "../../settings/grid";
@use "../../tools/breakpoint";
@use "../../tools/container";

.kg-gallery-container {
    @include container.breakout();

    display: flex;
    flex-direction: column;

    @include breakpoint.up(md) {
        padding-right: grid.$gap-small;
        padding-left: grid.$gap-small;
    }
}

.kg-gallery-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint.up(md) {
        flex-direction: row;

        &:not(:first-of-type) {
            margin: grid.$gap-small 0 0 0;
        }
    }
}

.kg-gallery-image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.kg-gallery-image {
    margin-bottom: grid.$gap-small;

    @include breakpoint.up(md) {
        margin-bottom: 0;

        &:not(:first-of-type) {
            margin-left: grid.$gap-small;
        }
    }
}
