// 1. Posts are listed in vertical grid on small screens.
// 2. On medium sized screens, the posts are stacked horizontally, overlapping each other.
// 3. On big screens, there is no need to save space so the stacking is destroyed and the posts are
//    listed in grid.

@use "../../settings/borders";
@use "../../settings/grid";
@use "../../tools/breakpoint";
@use "../../tools/transition";

.post-row {
    display: grid; // 1.
    grid-template-columns: 100%;
    grid-gap: grid.$gap;
}

.post-row__item {
    min-width: 0;
}

@include breakpoint.up(md) {
    .post-row {
        display: flex; // 2.
    }

    .post-row__item {
        @include transition.add($property: transform, $timing: 500ms);

        position: relative;
        width: 35vw;
        border-radius: borders.$radius;
        box-shadow: 0 0.75em 1.5em rgba(0 0 0 / 25%);
        transform: translate(0, 0);
        will-change: transform;

        &:hover {
            transform: translateY(-0.75em);
        }

        &:not(:first-child) {
            margin-left: -3em;
        }

        &:only-child,
        &:first-child:nth-last-child(2),
        &:last-child:nth-child(2) {
            width: 50vw;
        }
    }

    .post-row__item:hover ~ .post-row__item {
        transform: translateX(2em);
    }

    @media (prefers-reduced-motion: reduce) {
        .post-row__item:hover,
        .post-row__item:hover ~ .post-row__item {
            transform: translate(0, 0);
            will-change: none;
        }
    }
}

@include breakpoint.up(xl) {
    .post-row {
        display: grid; // 3.
        grid-template-columns: repeat(3, 1fr);
        grid-gap: grid.$gap;
    }

    .post-row__item {
        width: auto;
        box-shadow: none;

        &:not(:first-child) {
            margin-left: 0;
        }

        &:only-child,
        &:first-child:nth-last-child(2),
        &:last-child:nth-child(2) {
            width: auto;
        }
    }

    @media (hover: hover) {
        .post-row__item,
        .post-row__item:hover,
        .post-row__item:hover ~ .post-row__item {
            position: static;
            transform: none;
        }
    }
}
