@use "../../tools/breakpoint";
@use "../../tools/spacing";

.section {
    --section-padding-top: #{spacing.of(1)};
    --section-padding-bottom: #{spacing.of(1)};

    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);

    @include breakpoint.up(lg) {
        --section-padding-top: #{spacing.of(1.5)};
        --section-padding-bottom: #{spacing.of(1.5)};
    }

    @include breakpoint.up(xl) {
        --section-padding-top: #{spacing.of(2)};
        --section-padding-bottom: #{spacing.of(2)};
    }
}

.section--dense-top {
    --section-padding-top: #{spacing.of(0.5)};

    @include breakpoint.up(md) {
        --section-padding-top: #{spacing.of(0.75)};
    }

    @include breakpoint.up(lg) {
        --section-padding-top: #{spacing.of(1)};
    }
}

.section--only-top:not(:last-child) {
    --section-padding-bottom: 0;
}

.section--roomy-bottom {
    --section-padding-bottom: #{spacing.of(1.5)};

    @include breakpoint.up(xl) {
        --section-padding-bottom: #{spacing.of(2)};
    }
}
