.site {
    display: grid;
    grid-template:
        "notifications" auto
        "header" auto
        "content" 1fr
        "footer" auto / 100%;
}

.site__notifications {
    grid-area: notifications;
}

.site__header {
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 99;
    grid-area: header;
    width: 100%;
    background: linear-gradient(125deg, #fff0, #fff);
    transition: font-size 0.3s ease;
}

.site__content {
    grid-area: content;
}

.site__footer {
    grid-area: footer;
}
