.site {
    display: grid;
    grid-template:
        "notifications" auto
        "header" auto
        "content" 1fr
        "footer" auto / 100%;
}

.site__notifications {
    grid-area: notifications;
}

.site__header {
    position: sticky;
    grid-area: header;
}

.site__content {
    position: sticky;
    z-index: 99;
    grid-area: header;
    transition: font-size 0.3s ease;
}

.site__footer {
    grid-area: footer;
}
