.site {
    display: grid;
    grid-template:
        "notifications" auto
        "header" auto
        "content" 1fr
        "footer" auto / 100%;
}

.site__notifications {
    grid-area: notifications;
}

.site__header {
    position: sticky;
    grid-area: header;
}

.site__content {
    grid-area: content;
}

.site__footer {
    grid-area: footer;
}
