// Replaces https://github.com/TryGhost/Ghost/blob/main/core/frontend/src/cards/css/button.css

@use "../../tools/button";

.kg-button-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.kg-button-card.kg-align-left {
    justify-content: flex-start;
}

.kg-button-card .kg-btn {
    @include button.create();

    @media print {
        display: none;
    }
}

.kg-button-card .kg-btn-accent {
    @include button.primary();
}
