// Replaces https://github.com/TryGhost/Ghost/blob/main/core/frontend/src/cards/css/gallery.css

// 1. ⚠️ Relies on inline styles injected by `assets/js/main.js`.

@use "../../settings/grid";
@use "../../tools/breakpoint";
@use "../../tools/container";

.kg-gallery-container {
    @include container.breakout();

    display: flex;
    flex-direction: column;
    row-gap: grid.$gap-small;

    @include breakpoint.up(md) {
        padding-right: grid.$gap-small;
        padding-left: grid.$gap-small;
    }
}

.kg-gallery-row {
    display: flex;
    flex-direction: column;
    gap: grid.$gap-small;
    justify-content: center;

    @include breakpoint.up(md) {
        flex-direction: row;
    }
}

.kg-gallery-image {
    flex: var(--aspect-ratio, 1) 1 0%; // 1.
}

.kg-gallery-image > img {
    width: 100%;
}
